<div class="historial-container  flex-wrap gap-5">

    <div class="alquiler-card">
        <div class="alquiler-header">
            <span class="serial">🚲 PTNT-08</span>
            <span class="estado finalizado">Finalizado</span>
        </div>
        <ul>
            <li><strong>Estación salida:</strong> Estacion norte</li>
            <li><strong>Estación llegada:</strong> Estacion norte</li>
            <li><strong>Fecha inicio:</strong> 18/09/2025 15:12</li>
            <li><strong>Fecha fin:</strong> 18/09/2025 15:14</li>
            <li><strong>Duración:</strong> 0h 1m 27s</li>
        </ul>
    </div>

    <!-- Ejemplo de otra card -->
    <div class="alquiler-card">
        <div class="alquiler-header">
            <span class="serial">🚲 PTNT-15</span>
            <span class="estado activo">Activo</span>
        </div>
        <ul>
            <li><strong>Estación salida:</strong> Estacion centro</li>
            <li><strong>Estación llegada:</strong> --</li>
            <li><strong>Fecha inicio:</strong> 18/09/2025 16:20</li>
            <li><strong>Fecha fin:</strong> --</li>
            <li><strong>Duración:</strong> 0h 15m 03s</li>
        </ul>
    </div>
</div>