@if (alquilerActivo) {
<div class="cont">
    <section class="d-flex flex-wrap col-12">
        <div class=" col-sm-12 col-md-5 col-lg-4">
            <div class="CARD PATINETAS container noselect">
                <div class="canvas">
                    <div class="tracker tr-1"></div>
                    <div class="tracker tr-2"></div>
                    <div class="tracker tr-3"></div>
                    <div class="tracker tr-4"></div>
                    <div class="tracker tr-5"></div>
                    <div class="tracker tr-6"></div>
                    <div class="tracker tr-7"></div>
                    <div class="tracker tr-8"></div>
                    <div class="tracker tr-9"></div>
                    <div id="card">
                        <div class="card-content">
                            <div class="card-glare"></div>
                            <div class="cyber-lines">
                                <span></span><span></span><span></span><span></span>
                            </div>
                            <p id="prompt">{{ alquilerActivo?.bicicleta?.serial }}</p>
                            <div class="title"><br /></div>
                            <div class="glowing-elements">
                                <div class="glow-1"></div>
                                <div class="glow-2"></div>
                                <div class="glow-3"></div>
                            </div>
                            <div class="subtitle">
                                <span>{{ alquilerActivo?.bicicleta?.estado }}<br></span>
                                <span class="highlight">72V ELECTRIC <br></span>
                                <span class="fs">{{ alquilerActivo?.bicicleta?._id }}</span>
                            </div>
                            <div class="card-particles">
                                <span></span><span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <div class="corner-elements">
                                <span></span><span></span><span></span><span></span>
                            </div>
                            <div class="scan-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-8 d-flex align-items-center">
            <div class="info-card">
                <ul>
                    <li><strong>ID Alquiler:</strong> {{ alquilerActivo?._id }}</li>
                    <li><strong>Estacion de Salida:</strong> {{ alquilerActivo?.estacionSalida?.nombre }}</li>
                    <li><strong>Fecha de inicio:</strong> {{ alquilerActivo?.fechaInicio | date:'dd/MM/yyyy HH:mm:ss' }}</li>
                    <li><strong>Tiempo de uso:</strong> {{ tiempoUso }}</li>
                    <li><strong>Activo:</strong> {{ alquilerActivo?.activo }}</li>
                    <li><strong></strong> <button routerLink="/panel/estacionar" class="my-2">Estacionar</button></li>
                </ul>
            </div>
        </div>
    </section>
</div>
} @else {
<div class="cont text-center p-4">
    <p>No tienes un alquiler activo en este momento </p>
    <button routerLink="/panel/alquilar">Alquilar una ahora!</button>
</div>
}
