.card {
    width: 260px;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f331;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: inset 5px 5px 10px #a9a9aa54,
        inset -5px -5px 10px #ffffff48;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card .img {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    background: #f2f2f3;
    margin-bottom: 1rem;
    box-shadow: -5px -5px 8px #ffffff7a,
        5px 5px 8px #a9a9aa7a;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%;

}


.card .info {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    line-height: 1.4;
    color: #333;
}

.card .info .titulo {
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(120deg, rgba(0, 194, 255, 1) 0%, rgba(0, 86, 255, 1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}
